extends ../layout
include ../mixins

block content
    h1 #{title}: #{author.name}

    if author_books.length

        p.text-danger #[strong #{t('invalid_delete', { condition: t('detail.books', { ns: 'detail' }), entity: t('detail.author', { ns: 'detail' }), ns: 'form' })}]
        div.content
            h2.font-md #{t('detail.books', { ns: 'detail' })}
            if author_books.length
                dl
                    each book in author_books
                        dt
                            +link(book.title, `/books/${book.id}`)
                        dd #{book.summary}
            else
                p #{t('detail.author_no_books', { ns: 'detail' })}

        hr
        p
            a(href=`/authors/${author.id}/delete`) #{t('sidebar.delete_author')}
        p
            a(href=`/authors/${author.id}/update`) #{t('sidebar.update_author')}

    else
        p #{t('warning_delete', { entity: t('detail.author', { ns: 'detail' }), ns: 'form' })}

        form(method='POST')
            div.form-group
                input#authorId.form-control(type='hidden' name='authorId', value=author.id)

            button.btn.btn-primary(type='submit') #{t('delete', { ns: 'form' })}
