extends ../layout
include ../mixins

block content
    h1= title
    if authors.length
        ul
            each author in authors
                li.mb
                    +link(author.name, `/authors/${author.id}`)
                    |  (#{author.date_of_birth} - #{author.date_of_death})
    else
        p #{t('list.no_authors')}
