extends ../layout

block content
    h1= title
    if authors.length
        ul
            each author in authors
                li.mb
                    a(href=author.url) #{author.name}
                    |  (#{author.date_of_birth} - #{author.date_of_death})
    else
        p #{t('list.no_authors')}
